{% load static %}
{% load alias %}
{% if request.session.role == "patient" %}
{% alias 1 as patient   %} 
{% elif request.session.role == "medecin" %}
{% alias 1 as doctor   %} 
{% elif request.session.role == "pharmacist" %}
{% alias 1 as pharmacist   %}

{%endif%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLESHEET -->
    {%if  profile or profile_settings%}
        <link rel="stylesheet" href="{% static 'css/profile/style.css' %}">
       
    {%else%}
     <link rel="stylesheet" href="{% static 'css/dashboard/style.css' %}">
    {%endif%}
 <!-- MATRIAL ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    
    <div class="container">
        {% include "ehealth/aside.html"%}
    	  <main>
    	  	<h1>{{title}}</h1>
    	
    	{% block content %}
        	
        {% endblock %}
         </main>
    	<div class="rigth">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler" id="theme-toggler">
                    <span class="material-icons-sharp active">light_mode </span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>{{user.person.prenom|capfirst}}</b></p>
                        <small class="role" onclick="dropMenu(this)">
                            <small class="text-muted">{{ request.session.role|capfirst }}</small>
                            <span class="material-icons-sharp">expand_more</span>
                        </small>
                        <ul class="drop-down-content">
                            <h3>
                                <li><a href="{% url 'landing:redirect'  1 %}">Patient</a></li>
                            </h3>
                            <h3>
                                <li><a href="{% url 'landing:redirect'  2 %}">Docteur</a></li>
                            </h3>
                            <h3>
                                <li><a href="{% url 'landing:redirect'  3 %}">Pharmacien</a></li>
                            </h3>
                        </ul>
                    </div>
                    <div class="profile-photo">
                        <img src="{{user.person.img.url}}" alt="">
                    </div>
                </div>
            </div>

        {% block content2 %}
        {%endblock%}

        
    </div>

    <script src="{% static 'script/dashboard/script.js' %}"></script>
    {% if add_trai %}
    <script src="{% static 'script/ordonnance/main.js' %}"></script>
    {%elif  profile or profile_settings%}
     <script src="{% static 'script/profile_settings/script.js' %}"></script>
     {%elif  book%}
     <script src="{% static 'script/calendar/calendar.js' %}"></script>
    {%endif%}
</body>

</html>
