{% load static %}
<div class="insights dashboard">
    {% if doctor %}
    <div class="card">
        <span class="material-icons-sharp">people_alt</span>
        <div class="middle">

            <h3>Total Patients</h3>
            <h1>{{num_doc}} </h1>

        </div>
        <small class="text-muted">
            {% if doctor %}Last Week{% endif %}
        </small>
    </div>
    {%endif%}
    <!-- ------------- END OF CARD 1 ---------- -->

    <div class="card">
        <span class="material-icons-sharp">event</span>
        <div class="middle">
            <h3>{% if doctor %}Appointments{% elif patient %} Appointments {% elif pharmacist %} Total Income{% endif %}
            </h3>
            <h1>{% if doctor %}{{num_appointement}} {% elif patient %} {{num_appointement}} {% endif %}</h1>
        </div>
        <small class="text-muted">
            {% if doctor %}Last Week{% elif patient %} All Time {% elif pharmacist %} Last Week{% endif %}
        </small>
    </div>
    <!-- ------------- END OF CARD 2 ---------- -->
    {% if patient %}
    <div class="card">
        <span class="material-icons-sharp">phone_in_talk</span>
        <div class="middle">
            <h3> Insurances </h3>
            <h1>{{insurances.total}} </h1>
        </div>
        <small class="text-muted">
            Last Week
        </small>
    </div>
    {%endif%}
    <!-- ------------- END OF CARD 3 ---------- -->
    <div class="card">
        <span class="material-icons-sharp">medication</span>
        <div class="middle">
            <h3>{% if doctor %}Consultations{% elif patient %} Prescriptions {% elif pharmacist %} Total
                Income{% endif %}</h3>
            <h1>{% if doctor %}{{num_visite}} {% elif patient %} {{ordon_num}}{%endif%}</h1>
        </div>
        <small class="text-muted">
            {% if doctor %}Last Week{% elif patient %} All Time {% elif pharmacist %} Last Week{% endif %}
        </small>
    </div>
    <!-- ------------- END OF CARD 4 ---------- -->

</div>