.idea/
__pycache__/
ehealth/doctor/migrations/
ehealth/landing/migrations/
ehealth/med/migrations/
ehealth/mutuelle/migrations/
ehealth/ordonnance/migrations/
ehealth/patient/migrations
ehealth/patient/names.txt
ehealth/pharmacie/migrations/

ehealth/doctor/__pycache__/
ehealth/landing/__pycache__/
ehealth/med/__pycache__/
ehealth/mutuelle/__pycache__/
ehealth/ordonnance/__pycache__/
ehealth/patient/__pycache__
ehealth/patient/names.txt
ehealth/pharmacie/__pycache__/

ehealth/meds.db
db.sqlite3
meds.db