Django
requests~=2.27.1
easy-thumbnails
django-channels
channels-redis
aioredis
asgiref
async-timeout
attrs
autobahn
Automat
bleach
boto3
botocore
certifi
cffi
channels
channels-redis
chardet
constantly
cryptography
daphne
django-bootstrap-static

gunicorn
hiredis
hyperlink
idna
importlib-metadata
incremental
jmespath
msgpack
numpy
optional-django
packaging
Pillow
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
PyHamcrest
pyOpenSSL
pyparsing
python-dateutil
python-decouple
pytz
redis
requests
s3transfer
service-identity
six
sqlparse
Twisted
txaio
urllib3
webencodings
zipp
zope.interface
