{% extends 'ehealth/base.html' %}
{% load static %}

{% block content %}

<h1>Reclamations</h1>
<!-- 
<div class="contact-from-container">
    <form action="#">
        <div class="form-row">
            <h3 class="text-muted">
                What can we Help you with?
            </h3>
            <input type="text" name="title" placeholder="Example: Problem with prices in my insurance...">
        </div>

        <div class="form-row">
            <h3 class="text-muted">
                Your Name
            </h3>
            <input type="text" name="name" placeholder="Example: Essordo Abdellah">
        </div>

        <div class="form-row">
            <h3 class="text-muted">
                E-mail adress
            </h3>
            <input type="email" name="email" placeholder="Example: abdo@gmail.com">
        </div>

        <div class="form-row">
            <h3 class="text-muted">
                Details:
            </h3>
            <textarea rows="5" cols="5" name="details"
                placeholder="Please write your question or a description of the problem youre trying to solve here"></textarea>
        </div>

        <button class="submit-btn-holder" type="submit">
            <div class="submit-btn">
                <h3>Submit</h3>
            </div>
        </button>
    </form>
</div> -->

{% endblock content %}