{% extends "ehealth/base.html" %}
{%load static%}
{% block content %} 
        
        <!-- END OF ASIDE -->
      
            
         
            {% include "ehealth/cards.html"%} 
            <!--------------- END OF INSIGHTS ------------>
           <div class="bottom">
                <h2>My appointments</h2>
                <div class="card">
                <table>
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                       
                        {% for visite in  visites %}
                        <tr>
                            <td><a href="{% url 'patient:profile' visite.patient_id.pk %}">{{visite.patient_id.person_id.nom}} {{visite.patient_id.person_id.prenom}}</a></td>
                            <td>{{ visite.date }} </td>
                            <td>{{ visite.heure }}</td>
                           
                            {%if visite.status == "1" %}
                             <td class="success">
                                    <span class="material-icons-sharp"> done</span>
                                </td>
                            {%elif visite.status == "2" %}
                            <td class="warning">
                                <span class="material-icons-sharp"> watch_later</span>
                            </td>
                            {%elif visite.status == "3" %}
                            <td class="danger">
                            <span class="material-icons-sharp">highlight_off</span>
                                </td>
                               {%endif%}
                               </tr>
                        {% empty %}
                        <tr>
                                <td>No records</td>
                        </tr>
                         
                        
                        {% endfor %}
                       
                        
                    </tbody>
                </table>

            
</div>
    <a href="{% url 'doctor:visites' %}"class="show-all-btn">Show All</a>
</div>
              <div id="popup" class="popup-holder pharmacy hide ">

                    <div class="card profile">
                     <div class="close">
                       <span class="material-icons-round">
                            cancel
                        </span>
                     </div>
                    <div class="left">
                        <div class="big-profile-photo">
                            <img id="visite-img" src="http://3.18.29.109/media/profile_pics/269837925_4389726447803609_487430985084605668_n.jpg" alt="">
                        </div>
                        <div>
                        
                            <h2 id="visite-name">Essordo Abdellah</h2>
                            <h3 id="visite-email" class="text-muted">abdoessordo01@gmail.com</h3>
                       
                         </div>
                         <div class="buttons">
                            <h3><a id="visite-visite"href="">Add treatments</a>
                            </h3><h3><a id="visite-profile" href="">View Profile</a></h3>
                        </div>
                       
                    </div>

                        <div class="middle">
                            
                           

                        </div>

                    <div class="bottom">
                        
                        <div class="row">
                            <div class="info-elem">
                                <h3 class="text-muted">Gender</h3>
                                <h3 id="visite-sexe" class="user-info">M</h3>
                            </div>
                            <div class="info-elem">
                                <h3 class="text-muted">Birthday</h3>
                                <h3 id="visite-nais" class="user-info"></h3>
                            </div>
                            <div class="info-elem">
                                <h3 class="text-muted">Phone Number</h3>
                                <h3 id="visite-phone" class="user-info">0672407504</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="info-elem">
                                <h3 class="text-muted">CIN</h3>
                                <h3 id="visite-username" class="user-info">K570940</h3>
                            </div>
                            <div class="info-elem">
                                <h3 class="text-muted">Adress</h3>
                                <h3 id="visite-adress" class="user-info">Casablanca</h3>
                            </div>
                            <div class="info-elem">
                                <h3 class="text-muted">City</h3>
                                <h3 id="visite-ville" class="user-info">Casablanca</h3>
                            </div>
                        </div>
                            
                        </div>

                    </div>

                </div>
        <!--------------- END OF MAIN ------------>

       {%endblock%}
            <!--------------- END OF TOP ------------>
            {% block content2 %}

            <div class="section-1">
                <h2>Last Patients</h2>
                <div class="rows">
                    {% if last_3|length == 0 %}
                     <div class="row">
                    No records for the last week
                </div>  
                {%else%}
                    {% for pat in last_3 %}
                    <div class="row">
                        <div class="profile-photo">
                            <img src="{{pat.person_id.img.avatar.url}}" alt="">
                        </div>
                        <div class="description">
                            <p><b>{{pat.person_id.nom}} {{pat.person_id.prenom}}</b> <br>{{pat.visites.last.date_created}}</p>
                        </div>
                    </div>
                    {%endfor%}
                {%endif%}
                  
                </div>

                        <a href="{% url 'doctor:patients' %}" class="show-all-btn">Show All</a>

            </div>

            <!--------------- END OF SECTION-1 ------------>

            <div class="section-2">
                <h2>Appointments Requests</h2>

                {%for appointement in appointements %}
                <div class="item">
                    <div class="profile-photo">
                        <img src="{{appointement.patient_id.person_id.img.avatar.url}}" alt="">
                    </div>
                    <div class="description">
                        <p><b>{{appointement.patient_id.person_id.nom}} {{appointement.patient_id.person_id.prenom}}</b> <br> {{appointement.date}} &#8226 9{{apointement.time}}<br></p>
                    </div>
                    <form method="POST" action="{% url 'doctor:accept_app' appointement.pk %}" class="form-requests">
                       {% csrf_token %}
                       <input type="text" name="decision"hidden>
                       
                    <div class="danger decision" decision=0>
                        <span class="material-icons-sharp">highlight_off</span>
                    </div>
                    <div class="success decision"  decision=1>
                        <span class="material-icons-sharp">check_circle_outline</span>
                    </div>
                     </div>
                    </form>
                    
                {%empty%}No records
                {%endfor%}

                
                <a href="#" class="show-all-btn">Show All</a>
            </div>
            

        </div>
        
       
    {{user.person.doctor.pk|json_script:"doc_id" }}
    <script type="text/javascript" src="{% static 'script/websockets/script.js' %}"></script>
  {% endblock %} 