{% extends "ehealth/base.html" %}
{% block content %} 
        
        <!-- END OF ASIDE -->
      
            
         
            {% include "ehealth/cards.html"%} 
            <!--------------- END OF INSIGHTS ------------>
           <div class="bottom">
                <h2>My appointments</h2>
                <div class="card">
                <table>
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if visites|length == 0 %}
                        <td>No records</td>
                        {% else %}
                        {% for visite in  visites|slice:":10" %}
                        <tr>
                            <td>{{visite.patient_id.person_id.nom}} {{visite.patient_id.person_id.prenom}}</td>
                            <td>{{ visite.date_created|date:"D d M Y" }} </td>
                            <td>{{ visite.date_created|time:"H:i" }}</td>
                            <td class="warning">
                                <span class="material-icons-sharp"> watch_later</span>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        
                    </tbody>
                </table>

            
</div>
    <a href="{% url 'doctor:visites' %}"class="show-all-btn">Show All</a>
</div>
            
        <!--------------- END OF MAIN ------------>

       {%endblock%}
            <!--------------- END OF TOP ------------>
            {% block content2 %}

            <div class="section-1">
                <h2>Last Patients</h2>
                <div class="rows">
                    {% if last_3|length == 0 %}
                     <div class="row">
                    No records for the last week
                </div>  
                {%else%}
                    {% for pat in last_3 %}
                    <div class="row">
                        <div class="profile-photo">
                            <img src="{{pat.person_id.img.url}}" alt="">
                        </div>
                        <div class="description">
                            <p><b>{{pat.person_id.nom}} {{pat.person_id.prenom}}</b> <br>{{pat.visites.last.date_created}}</p>
                        </div>
                    </div>
                    {%endfor%}
                {%endif%}
                  
                </div>

                        <a href="{% url 'doctor:patients' %}" class="show-all-btn">Show All</a>

            </div>

            <!--------------- END OF SECTION-1 ------------>

            <div class="section-2">
                <h2>Appointments Requests</h2>


                <div class="item">
                    <div class="profile-photo">
                        <img src="./images/profile-4.jpg" alt="">
                    </div>
                    <div class="description">
                        <p><b>Mike Tyson</b> <br> 28 Jan 2022 &#8226 9 AM <br></p>
                    </div>
                    <div class="danger">
                        <span class="material-icons-sharp">highlight_off</span>
                    </div>
                    <div class="success">
                        <span class="material-icons-sharp">check_circle_outline</span>
                    </div>
                </div>

                <div class="item">
                    <div class="profile-photo">
                        <img src="./images/profile-2.jpg" alt="">
                    </div>
                    <div class="description">
                        <p><b>Mike Tyson</b> <br> 28 Jan 2022 &#8226 9 AM <br></p>
                    </div>
                    <div class="danger">
                        <span class="material-icons-sharp">highlight_off</span>
                    </div>
                    <div class="success">
                        <span class="material-icons-sharp">check_circle_outline</span>
                    </div>
                </div>

                <div class="item">
                    <div class="profile-photo">
                        <img src="./images/profile-3.jpg" alt="">
                    </div>
                    <div class="description">
                        <p><b>Mike Tyson</b> <br> 28 Jan 2022 &#8226 9 AM <br></p>
                    </div>
                    <div class="danger">
                        <span class="material-icons-sharp">highlight_off</span>
                    </div>
                    <div class="success">
                        <span class="material-icons-sharp">check_circle_outline</span>
                    </div>
                </div>

                <a href="#" class="show-all-btn">Show All</a>
            </div>
            

        </div>
 
  {% endblock %} 