{% extends "ehealth/base.html" %}
{% block content %} 
        
        <!-- END OF ASIDE -->
      
            
         
            {% include "ehealth/cards.html"%} 
            <!--------------- END OF INSIGHTS ------------>
           <div class="bottom">
                <h2>My appointments</h2>
                <div class="card">
                <table>
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if visites|length == 0 %}
                        <td>No records</td>
                        {% else %}
                        {% for visite in  visites %}
                        <tr>
                            <td><a href="{% url 'patient:profile' visite.patient_id.pk %}">{{visite.patient_id.person_id.nom}} {{visite.patient_id.person_id.prenom}}</a></td>
                            <td>{{ visite.date }} </td>
                            <td>{{ visite.heure }}</td>
                           
                            {%if visite.status == "1" %}
                             <td class="success">
                                    <span class="material-icons-sharp"> done</span>
                                </td>
                            {%elif visite.status == "2" %}
                            <td class="warning">
                                <span class="material-icons-sharp"> watch_later</span>
                            </td>
                            {%elif visite.status == "3" %}
                            <td class="danger">
                            <span class="material-icons-sharp">highlight_off</span>
                                </td>
                            {%endif%}
                        </tr>
                        {% endfor %}
                        {% endif %}
                        
                    </tbody>
                </table>

            
</div>
    <a href="{% url 'doctor:visites' %}"class="show-all-btn">Show All</a>
</div>
            
        <!--------------- END OF MAIN ------------>

       {%endblock%}
            <!--------------- END OF TOP ------------>
            {% block content2 %}

            <div class="section-1">
                <h2>Last Patients</h2>
                <div class="rows">
                    {% if last_3|length == 0 %}
                     <div class="row">
                    No records for the last week
                </div>  
                {%else%}
                    {% for pat in last_3 %}
                    <div class="row">
                        <div class="profile-photo">
                            <img src="{{pat.person_id.img.url}}" alt="">
                        </div>
                        <div class="description">
                            <p><b>{{pat.person_id.nom}} {{pat.person_id.prenom}}</b> <br>{{pat.visites.last.date_created}}</p>
                        </div>
                    </div>
                    {%endfor%}
                {%endif%}
                  
                </div>

                        <a href="{% url 'doctor:patients' %}" class="show-all-btn">Show All</a>

            </div>

            <!--------------- END OF SECTION-1 ------------>

            <div class="section-2">
                <h2>Appointments Requests</h2>

                {%for appointement in appointements %}
                <div class="item">
                    <div class="profile-photo">
                        <img src="{{appointement.patient_id.person_id.img.url}}" alt="">
                    </div>
                    <div class="description">
                        <p><b>{{appointement.patient_id.person_id.nom}} {{appointement.patient_id.person_id.prenom}}</b> <br> {{appointement.date}} &#8226 9{{apointement.time}}<br></p>
                    </div>
                    
                    <div class="danger">
                        <span class="material-icons-sharp">highlight_off</span>
                    </div>
                    <div class="success">
                        <span class="material-icons-sharp">check_circle_outline</span>
                    </div>
                </div>
                {%empty%}No records
                {%endfor%}

                
                <a href="#" class="show-all-btn">Show All</a>
            </div>
            

        </div>
 
  {% endblock %} 