{% extends 'ehealth/base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'doctor:visites' %}">
    <button type="button" class="btn btn-primary">Go Back</button>
</a>
<br>
<br>
<br>
<br>


<div class="jumbotron">
  <h2 style="font-weight: 700">Doctor's Section</h2>
  <hr class="my-3">
</div>

<div class="container d-flex justify-content-center align-items-center pt-4">
    <div class="left_side w-50">
        <table>
            <tr>
                <td>
                    <div class="form-group mb-2">
                        <label class="h5" style="font-weight: 700">Nom</label>
                    </div>
                </td>
                <td>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" value="Zaid" disabled style="background-color: white">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group mb-2">
                        <label class="h5" style="font-weight: 700">Prenom</label>
                    </div>
                </td>
                <td>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" value="Oussama" disabled style="background-color: white">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group mb-2">
                        <label class="h5" style="font-weight: 700">Speciality</label>
                    </div>
                </td>
                <td>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" value="Ophtalmologue" disabled style="background-color: white">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group mb-2">
                        <label class="h5" style="font-weight: 700">Ville</label>
                    </div>
                </td>
                <td>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" value="Casablanca" disabled style="background-color: white">
                    </div>
                </td>
            </tr>
        </table>

    </div>


    <div class="rigth_side">
        <div class="doctor-profile-container">
            <img class="doctor-profile" src="{% static 'images/doctor_profile.jpg' %}" alt="">
        </div>
    </div>


</div>
<br>
<br>



<div class="jumbotron">
  <h2 style="font-weight: 700">Visits's Section</h2>
  <hr class="my-3">
</div>
<br>

<h2>Medicaments</h2>
<br>
<div style="width: 100%" class="d-flex ">
    <a href="{% url 'ordonnance:add_medicaments' visite.pk %}" style="margin-left: auto">
        <button type="button" class="btn btn-primary" style="background-color: #00B0D6; border-color: #00B0D6">
            <i class="fa-solid fa-plus"></i>
            Add
        </button>
    </a>
</div>
<br>

<table id="example" class="table " style="width:100%">
        <thead>
            <tr class="d-flex w-100 justify-content-between">
                <th>Numero</th>
                <th>Nom du medicament</th>
                <th>quantite</th>
                <th>duree de traitement</th>
                <th>description de traitement</th>
                
                {% if modifiable %}<th>Modify</th>{%endif%}
            </tr>
        </thead>
        <tbody>
            {% for med in meds %}
            <tr class="d-flex justify-content-between" style="background-color: #0000000d;  border-bottom: 1px solid rgba(44,44,44,0.32)">
                <td class="d-flex align-items-center">1</td>
                <td class="d-flex align-items-center">{{med.id_medicament.nom}}</td>
                <td class="d-flex align-items-center">{{med.quantite}}</td>
                <td class="d-flex align-items-center">{{med.duree_de_traitement}}</td>
                 <td class="d-flex align-items-center">{{med.description_de_traitement}}</td>
                {% if modifiable %}<td class="d-flex align-items-center">
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square fa-lg"></i></a>
                </td>{%endif%}
              </tr>
            {%endfor%}

      
            
        </tbody>
    </table>
<br>
<br>
<br>

<h2>Traitments</h2>
<br>
<div style="width: 100%" class="d-flex ">
    <a href="{% url 'ordonnance:add_traitements' visite.pk %}" style="margin-left: auto">
        <button type="button" class="btn btn-primary" style="background-color: #00B0D6; border-color: #00B0D6">
            <i class="fa-solid fa-plus"></i>

            Add
        </button>
    </a>
</div>
<br>


<table id="example" class="table " style="width:100%">
        <thead>
            <tr class="d-flex w-100 justify-content-between">
                <th>Numero</th>
                <th>Nom du traitement</th>
                <th>description de traitement</th>
                {% if modifiable %}<th>Modify</th>{%endif%}
            </tr>
        </thead>
        <tbody>
             {% for trait in traitements %}
            <tr class="d-flex justify-content-between" style="background-color: #0000000d;  border-bottom: 1px solid rgba(44,44,44,0.32)">
                <td class="d-flex align-items-center">1</td>
                <td class="d-flex align-items-center">{{trait.nom_traitement}}</td>
                 <td class="d-flex align-items-center">{{trait.description_de_traitement}}</td>
                {% if modifiable %}<td class="d-flex align-items-center">
                    <a href=""><i class="fa-solid fa-arrow-up-right-from-square fa-lg"></i></a>
                </td>{%endif%}
              </tr>
            {%endfor%}
            
        </tbody>
    </table>




<style>
    hr:not([size]){
        height: 2px;
    }
    .form-control{
        font-size: 1.2rem;
    }
    .table>:not(caption)>*>* {
        border-bottom-width: 0px;
    }
    .h5{
        margin-bottom: 0;
    }
</style>
{% endblock content %}

