{% extends "ehealth/base.html" %}
{%load static%}
{% block content%}

<div class="bottom">
    <h2>Recent Orders</h2>
    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Time</th>

                </tr>
            </thead>

            <tbody>
                {% for ord in ordonnances %}
                <tr>
                    <td>{{ord.id_medicament.nom}}</td>
                    <td>{{ord.quantite}}</td>
                    <td>{{ord.date_purchase|date:"D d M Y" }}</td>
                    <td>{{ord.date_purchase|time:"H:i"}}</td>

                </tr>


                {% empty %}
                <tr>
                    <td>No records</td>

                </tr>
                {% endfor %}


            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                <!-- hadi prev -->
                <a href="?page=9" class="arrows">
                    <span class="material-icons-sharp">
                        arrow_back
                    </span>
                    Prev
                </a>

                <div class="all-pages">

                    <!-- hadi first -->
                    <a href="?page=1" class="page-num">1</a>

                    <a class="page-num more">...</a>

                    <!-- hadi prev -->
                    <a href="?page=9" class="page-num">9</a>

                    <!-- hadi current -->
                    <a href="?page=10" class="page-num current">10</a>

                    <!-- hadi next -->
                    <a href="?page=11" class="page-num">11</a>

                    <a class="page-num more">...</a>

                    <!-- hadi last -->
                    <a href="?page=19" class="page-num">19</a>
                    </div>

                <!-- hadi next -->
                <a href="?page=11" class="arrows">
                    Next
                    <span class="material-icons-sharp">
                        arrow_forward
                    </span>
                </a>

            </span>
            </div>
    </div>
</div>

{%endblock%}