{% extends "ehealth/base.html" %}
{%load static%}
{% block content%}
<div class="insights dashboard">
                <div class="card">
                    <span class="material-icons-sharp">people_alt</span>
                    <div class="middle">

                        <h3>Total Patients</h3>
                        <h1>{{pat_num}}</h1>

                    </div>
                    <small class="text-muted">
                        Last Week
                    </small>
                </div>
                <!--------------- END OF CARD 1 ------------>

                <div class="card">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <h3>Total Sales</h3>
                        <h1>{{income}}  DH</h1>
                    </div>
                    <small class="text-muted">
                        Last Week
                    </small>
                </div>
                <!--------------- END OF CARD 2 ------------>

                <div class="card">
                    <span class="material-icons-sharp">bar_chart</span>
                    <div class="middle">
                        <h3>Total Expenses</h3>
                        <h1>$500</h1>
                    </div>
                    <small class="text-muted">
                        Last Week
                    </small>
                </div>
                <!--------------- END OF CARD 3 ------------>
                <div class="card">
                    <span class="material-icons-sharp">stacked_line_chart</span>
                    <div class="middle">
                        <h3>Total Income</h3>
                        <h1>$1,200</h1>
                    </div>
                    <small class="text-muted">
                        Last Week
                    </small>
                </div>
                <!--------------- END OF CARD 4 ------------>
                <div class="card">
                    <span class="material-icons-sharp">add </span>
                </div>
                <!--------------- END OF CARD 5 ------------>
            </div>
            <!--------------- END OF INSIGHTS ------------>


            <div class="bottom">
                <h2>Recent Orders</h2>
                <div class="card">
                    <table>
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Date</th>
                                <th>Time</th>
                               
                            </tr>
                        </thead>

                        <tbody>
                            {% for ord in ordonnances %}
                            <tr>
                                <td>{{ord.id_medicament.nom}}</td>
                                <td>{{ord.quantite}}</td>
                                <td>{{ord.date_purchase|date:"D d M Y" }}</td>
                                <td>{{ord.date_purchase|time:"H:i"}}</td>
                                
                            </tr>

                                
                            {% empty %}
                                 <tr>
                                <td>No records</td>
                                
                            </tr>
                            {% endfor %}

                           
                        </tbody>
                    </table>
                </div>
                <a class="show-all-btn" href="#">Show All</a>
            </div>

{%endblock%}
{%block content2%}
<div class="section-1">
                <h2>Last Patients</h2>
                <div class="rows">
                    {% for ord in ordonnances %}
                        <div class="row">
                        <div class="profile-photo">
                            <img src="{{ord.id_visite.patient_id.person_id.img.url}}" alt="">
                        </div>
                        <div class="description">
                            <p><b>{{ord.id_visite.patient_id.person_id.nom}} {{ord.id_visite.patient_id.person_id.prenom}}</b><br> {{ord.date_purchase|date:"D d M Y"}} &#8226  {{ord.date_purchase|time:"H:i"}}</p>
                        </div>
                    </div>
                    {% empty %}
                        <div class="row">
                            No records
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a href="#" class="show-all-btn">Show All</a>
            <!--------------- END OF SECTION-1 ------------>

            <div class="section-5">
                <h2>Recent Sales</h2>
                
                     
{% for ord in ordonnances %}
                <div class="item">
                    <div class="profile-photo">
                        <img src="{{ord.id_visite.patient_id.person_id.img.url}}" alt="">
                    </div>
                    <div class="description">
                        <p><b>{{ord.id_visite.patient_id.person_id.nom}} {{ord.id_visite.patient_id.person_id.prenom}}</b> <br> {{ord.count}} <br> {{ord.date_purchase|date:"D d M Y"}} &#8226  {{ord.date_purchase|time:"H:i"}} <br></p>
                    </div>
                    <div class="primary">
                        <h3>{{ord.prix}}</h3>
                    </div>
                </div>

                
             
                {% empty %}
                        <div class="row">
                            No records
                        </div>
                {% endfor %}
            </div>
            <a href="#" class="show-all-btn">Show All</a>

            {%endblock%}