@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
* {
    font-family: Roboto, sans-serif;
    /*font-family: 'Roboto Condensed', sans-serif;*/
}

ul {
    padding-left: 0;
}

.left {
    width: 15%;
}

.left .logo {
    font-size: 2rem;
    font-weight: 700;
}

.left ul {
    font-size: 1.2rem;
    color: #5e5e5e;
}

#dasshboard_list {
    padding-left: 0;
}

.right nav {
    min-height: 10vh;
}

.right nav .profile .image {
    background: url('../images/profile.jpg');
    background-size: cover;
    border-radius: 50% 50% 50% 50%;
    width: 4em;
    height: 4em;
    border: 1px solid black;
}

.right nav .profile .description .username {
    font-weight: 700;
    letter-spacing: 0px;
}

.right nav .profile .description .role {
    font-weight: 400;
}

.right nav .profile .description .role:hover {
    cursor: pointer;
}

.right nav .profile .arrow {
    width: 1.2em;
    height: 1.2em;
    /*border: 1px solid black;*/
    border-radius: 50%;
    font-weight: 700;
}

.right .main {
    min-height: 90vh;
    background-color: #f5f7fa;
    border-top-left-radius: 2%;
}

.doctor-profile {
    width: 50%;
    float: right;
}

.ordanance-form-section {
    padding-right: 3rem;
}

.ordanance-form-title {
    padding-bottom: 1.5rem;
}

.form-group {
    padding-bottom: 1rem;
}

#add_btn_med,
#add_btn_trait {
    background: #00B0D6;
    border-color: #00B0D6;
}

form .row {
    margin-bottom: 1rem;
}

.remove-item {
    transform: translateY(40%);
    color: red;
}

.remove-item :hover {
    cursor: pointer;
}

#drop-down-profile-btn {
    transition: transform 0.15s ease;
}

#drop-down-profile-btn:hover {
    cursor: pointer;
    transform: scale(1.5);
    /*transition-duration: 2s;*/
    /*transition: ease-in;*/
}

.drop-down-content {
    display: none;
    list-style: none;
    position: absolute;
    min-width: 10rem;
    z-index: 10;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.drop-down-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-down-content li a:hover {
    background-color: #ddd;
}

.show-drop-down {
    display: block;
}