{% extends 'ehealth/base.html' %}
{% load static %}
{%block content%}
                <h1>Messages</h1>

                <div class="messages-container ">
                    <div class="recent-messages card">
                        <div class="header">
                            <div class="header-content">

                                <h2>Chats</h2>
                                <div class="new-conv">
                                    <span class="material-icons-sharp">
                                        add_circle_outline
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="recent-messages-body">
                            <div class="search-chat">
                                <form action="">
                                    <div class="search-bar">
                                        <input type="text" placeholder="Search recent chat"
                                            onkeyup="search_bar(this.value);">
                                        <span class="material-icons-sharp">
                                            search
                                        </span>
                                    </div>

                                </form>
                            </div>
                            {% include "chat/chataside.html" %}
                        </div>
                    </div>
                                  <div class="conversation card " id="conv-1">
                        <div class="chat-header">
                            <div class="profile">
                                <span class="material-icons-sharp" id="back-1" onclick="back_to_recent(this.id)">
                                    arrow_back
                                </span>
                                <div class="profile-photo">
                                    <img src="{{other.img.avatar.url}}  " alt="">
                                </div>
                            </div>

                            <div class="contact-details">
                                <h3> {{other.nom}} {{other.prenom}} </h3>
                                <h4 class="text-muted">Online</h4>
                            </div>

                            <div class="chat-params">
                                <span class="material-icons-sharp">
                                    call
                                </span>
                                <span class="material-icons-sharp">
                                    videocam
                                </span>
                                <span class="material-icons-sharp">
                                    more_vert
                                </span>
                            </div>
                       
                    </div>

                        <div class="conversation-body">
                            {% for msg in messages %}
                            <div class="{%if msg.holder %}chat-box incoming{%else%}chat-box outgoing{%endif%}">
                                <div class="detail">
                                    <h3>{{msg.body}}</h3>
                                    <small class="text-muted">{{msg.timestamp|time:"H:i"}} </small>
                                </div>
                            </div>
                            {% endfor %}
                            

                        </div>
                        
                        <div class="chat-input-container">

                            <div class="message-input">
                                <form action="">
                                    <input id="input-bar" type="text" placeholder="Type a message">
                                </form>
                            </div>

                            <div class="buttons">
                                <div class="attach-file">
                                    <span class="material-icons-sharp">
                                        attach_file
                                    </span>
                                </div>

                                <div onclick="send()" class="send-message">
                                    <span class="material-icons-sharp">
                                        send
                                    </span>
                                </div>

                            </div>

                        </div>
                    </div>

                    

                        </div>
{{ other.pk|json_script:"id" }}                
<script type="text/javascript" src="{% static 'script/messages/messages.js' %}"></script>

{%endblock%}