{% extends 'ehealth/base.html' %}
{% load static %}

{% block content %}

<div class="insights ">
    <div class="card">
        <span class="material-icons-sharp">people_alt</span>
        <div class="middle">

            <h3>Total Doctors</h3>
            <h1>{{num_doc}}</h1>

        </div>
        <small class="text-muted">
            Last Week
        </small>
    </div>
    <!--------------- END OF CARD 1 ------------>

    <div class="card">
        <span class="material-icons-sharp">event</span>
        <div class="middle">
            <h3>Appointments</h3>
            <h1>{{num_appointement}} </h1>
        </div>
        <small class="text-muted">
            Last Week
        </small>
    </div>
    <!--------------- END OF CARD 2 ------------>

    <div class="card">
        <span class="material-icons-sharp">medication</span>
        <div class="middle">
            <h3>Consultations</h3>
            <h1>{{num_visite}}</h1>
        </div>
        <small class="text-muted">
            Last Week
        </small>
    </div>
    <!--------------- END OF CARD 4 ------------>
</div>
<!--------------- END OF INSIGHTS ------------>

<div class="bottom consultations">
    <h2>{% if patient and get_patient %}All Doctors {% elif get_patient and doctor%}All Patients {%elif visite_seek%}All
        Consultations{%endif%}</h2>
    <div class="card">
        <table class="prescriptions">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity/day</th>
                    <th>Usage Description</th>
                </tr>
            </thead>

         
            <tbody>
                        
                        {%for ord in meds %}
                        <tr>
                            <td>{{ord.nom}}</td>
                           
                          
                            <td>{{ord.ordonnane.quantite}}</td>
                            <td>{{ord.ordonnance.description_de_traitement}}</td>
                        </tr>
                        {%empty%}
                        No records
                        {%endfor%}
                     
                        

                    </tbody>
           

            
    </div>
    </table>

    <div class="pagination">
        <span class="step-links">
            <!-- hadi prev -->
            <a href="?page=9" class="arrows">
                <span class="material-icons-sharp">
                    arrow_back
                </span>
                Prev
            </a>

            <div class="all-pages">

                <!-- hadi first -->
                <a href="?page=1" class="page-num">1</a>

                <a class="page-num more">...</a>

                <!-- hadi prev -->
                <a href="?page=9" class="page-num">9</a>

                <!-- hadi current -->
                <a href="?page=10" class="page-num current">10</a>

                <!-- hadi next -->
                <a href="?page=11" class="page-num">11</a>

                <a class="page-num more">...</a>

                <!-- hadi last -->
                <a href="?page=19" class="page-num">19</a>
            </div>

            <!-- hadi next -->
            <a href="?page=11" class="arrows">
                Next
                <span class="material-icons-sharp">
                    arrow_forward
                </span>
            </a>

        </span>
    </div>
    <!-- <div class="pagination">
        <span class="step-links">
            {% if data.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ data.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page

                {{ data.number }} of

                {{ data.paginator.num_pages }}.
                </span>

            {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">next</a>
            <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            </span>
    </div> -->
</div>


{% endblock content %}