{% extends "ehealth/base.html" %}
{%load static %}
            
{%block content %}
            <div class="insights private">
                <div class="card">

                    <span class="material-icons-sharp locked">
                        lock
                    </span>
                    <div>
                        <h2>This Account is Private <br></h2>
                        <h3 class="text-muted">Ask this account's owner to set his privacy setting to public, in order see their informations</h3>
                    </div>
                </div>
                <!--------------- END OF CARD 1 ------------>

                <!--------------- END OF INSIGHTS ------------>
            </div>
       
    {%endblock  %}