{% extends 'ehealth/base.html' %}
{% load static %}

{% block content %}
            <div class="card" id="form-holder-trait">
                <form class="add-form" id="form-trait" action="" method="POST">
                    <div class="rows">
                        {% csrf_token %}
                        <div class="form-row" id="row-1">
                            <div>
                                <label for="">Traitement</label>
                                <input class="primary" type="text" name="traitements" placeholder="Enter Traitement">
                            </div>

                            <div>
                                <label for="">Traitement Description</label>
                                <textarea class="primary" rows="1" name="desc"placeholder="Enter Descpritption"></textarea>
                            </div>
                            <div>
                                <label for="">Traitement Price</label>
                                <input class="primary" type="number" name="price" placeholder="Enter Price"></input>
                            </div>
                            <div>
                                <span id="delete-row-1" onclick=delete_row(this.id)
                                    class="material-icons-sharp">delete</span>
                            </div>
                        </div>
                    </div>

                    <div class="add-more-btn" id="add_btn_med"  type_btn="trait" >
                        <span class="material-icons-sharp" type_btn="trait">add</span>
                        <h3 type_btn="trait">Add More</h3>
                    </div>

                    <button type="submit">
                        <div class="submit-btn">
                            <h3>Submit</h3>
                        </div>
                    </button>
                </form>
            </div>

         {% endblock %}
