{% extends 'ehealth/base.html' %}
{% load static %}


            <div class="container ">
                <div class="ordanance-form-section">
                    <h2 class="ordanance-form-title">Medicaments</h2>
                    <form class="ps-3" action="" method="POST" >
                        {%csrf_token%}
                        <div class="all_med" id="med-form">
                            <div class="row" id="row-1">
                                <div class="col-4">
                                    <label>Nom Medicament</label>
                                    <input type="text" name="med" class="form-control"  aria-describedby="emailHelp" placeholder="Enter medicament">
                                </div>
                                <div class="col-2">
                                    <label>Quantite par jour</label>
                                    <input type="number"  name="quant" class="form-control" value="1">
                            
                                </div>
                                <div class="col-5">
                                    <label >Description d'utilisation</label>
                                    <textarea name="desc" class="form-control"  rows="1"></textarea>
                                
                                </div>
                                <div class="col-5">
                                    <label >duree d'utilisation</label>
                                    <textarea name="duree" class="form-control"  rows="1"></textarea>
                                
                                </div>
                                <div class="col-1 d-flex flex-column justify-content-center">
                                    <div class="remove-item" id="remove_btn-1" onclick="remove_row(this.id)">
                                        <i class="fa-solid fa-trash-can fa-xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary mt-2" type_btn="med" id="add_btn_med">Add More</button>
                        <br>
                        <center>
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </center> 
                </form>
                
                      
                </div>
            </div>
{% block content %}
 <div class="card" id="form-holder-med">
                <form class="add-form" id="form-med" action="" method="POST">
                    {%csrf_token %}
                    <div class="rows">

                        <div class="form-row" id="row-1">
                            <div>
                                <label for="">Drug Name</label>
                                <input class="input-ajax" type="text"  id="med-name-1" placeholder="Enter Drug"><select id="result-1" name="med" size=5 class="select-ajax" hidden>
                                </select>
                                
                            </div>

                            <div>
                                <label for="">Quantity Per day</label>
                                <input class="primary ajax-primary" type="number" name="quant" value="1">
                            </div>

                            <div>
                                <label for="">Usage Description</label>
                                <textarea class="primary " rows="1" name="desc" placeholder="Enter Descpritption"></textarea>
                            </div>

                            <div>
                                <span id="delete-row-1" onclick=delete_row(this.id)
                                    class="material-icons-sharp">delete</span>
                            </div>
                        </div>
                    </div>

                    <div class="add-more-btn" onclick="add_row('med')">
                        <span class="material-icons-sharp">add</span>
                        <h3>Add More</h3>
                    </div>

                    <button type="submit">
                        <div class="submit-btn">
                            <h3>Submit</h3>
                        </div>
                    </button>
                </form>
            </div>

        
{% endblock %}
