@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ------------ ROOT VARIABLES ------------- */

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-hover: #ddd;
    /* ------------------ */
    --card-border-radius: 2rem;
    --border-radius-1: 0.42rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    /* ------------------ */
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    /* ------------------ */
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ------------ DARK THEME VARIABLES ------------- */

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-hover: #464343;

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

form,
form input,
form select,
form textarea,
form button {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    background: none;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    font-weight: 500;
    width: 100%;
}

table {
    border-collapse: collapse;
    padding: var(--card-padding);
}

form textarea {
    resize: none;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

label {
    font-weight: 700;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.4rem;
    position: fixed;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

.flip_180 {
    transform: rotate(180deg);
}

.hide {
    display: none !important;

}

.landing .left main form ul.hide {
    visibility: hidden;
}

/* ====================================================
======================Login========================
======================================================= */

.landing form input::placeholder {
    color: var(--color-info-dark);
}

.landing {
    display: grid;
    grid-template-columns: 44% auto;
    min-height: 100vh;
    background-color: var(--color-background);
}

.landing .left {
    margin-top: 1rem;
    position: relative;
}

.landing .left aside {
    height: unset;
}

.landing .left aside .logo {
    justify-content: center;
    align-items: center;
}

.landing .left aside .logo img {
    width: 4rem;
    height: 4rem;
}

.landing .left aside .logo h2 {
    font-size: 3rem;
}

.landing .left main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 6rem;
    width: 100%;
}


.landing .left main .card {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing .left main .card .top {
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.landing .left main .top>span {
    margin: 0 auto;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: 500;
    color: var(--color-primary);

}

.landing .left main>span {
    margin: 0 auto;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: 500;
    color: var(--color-primary);
}

.landing .left main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing .left main form .row {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-light);
    width: 90%;
}

.landing .left main form .row input {
    text-align: center;
}

.landing .left main form .row select.login-as {
    text-align: center;
    cursor: pointer;
}

.landing .left main form .row input::placeholder {
    transition: all 300ms ease;
}

.landing .left main form .row input:focus::placeholder {
    color: transparent;
}

.landing .left main form .row.login-as {
    position: relative;
    cursor: pointer;
}


.landing .left main form .row.login-as h3.text-muted {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.landing .left main form .row.login-as>span {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    right: 0;
    top: 40%;
    color: var(--color-info-dark);
    transition: all 300ms ease;
}

.flip_180 {
    transform: rotate(180deg) !important;
}

.landing .left main form .drop-down-content {
    display: block;
    opacity: 100%;
    position: unset;
    width: 100%;
    text-align: center;
    transition: unset;
}


.landing .left main form .drop-down-content li {
    color: var(--color-dark);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.landing .left main form .drop-down-content li:hover {
    background-color: var(--color-hover);
}


.landing .left main form .drop-down-content a {
    text-decoration: none;
}

main form#create_insurance button,
.landing .left main form .next-section-btn,
.landing .left main form button#login-btn {
    cursor: pointer;
    background-color: var(--color-primary);
    width: unset;
    margin-top: 3rem;
    padding: 0.5rem 7rem;
    border: 0.2rem dashed var(--color-primary);
    border-radius: var(--card-border-radius);
    color: white;
    transition: all 300ms ease;
}

main form#create_insurance button {
    float: right;
}

main form#create_insurance button:hover,
.landing .left main form .next-section-btn:hover,
.landing .left main form button#login-btn:hover {
    background-color: transparent;
    color: var(--color-primary);
}

main form#create_insurance button h2,
.landing .left main form button#login-btn h2 {
    margin: 0;
    padding: 0;
}

.landing .left main h3.text-muted {
    margin-top: 2rem;
}

.landing .left main a {
    text-decoration: underline;
}

.landing .left main .card .bottom {
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 1.5rem 0;
    border-top: 1px solid var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .left main .card .bottom h3 {
    font-size: 1rem;
}

.landing .left main form .calendar.card {
    position: absolute;
    top: 22rem;
    left: 0;
    width: 100%;
    z-index: 50;
}

.landing .right {
    position: relative;
    z-index: 1;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%),
        url(http://3.18.29.109/static/images/landing/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.landing .right .welcome {
    position: absolute;
    bottom: 15rem;
    color: var(--color-white);
    padding-left: 3rem;
}

.landing .right .welcome h1 {
    font-size: 4rem;
}

.landing .right .welcome h2 {
    display: block;
    padding-right: 30%;
    text-align: justify;
    font-weight: 400;
    text-shadow: var(--box-shadow);
}

/* ====================================================
====================== REGISTER ======================== 
======================================================= */

.landing.register {
    grid-template-columns: 56% auto;
}

.landing.register .left .title {
    position: relative;
    width: 100%;
}

.landing.register .left .title h1 {
    text-align: center;
}

.landing.register .left .title>span {
    position: absolute;
    top: 5%;
    right: 0;
    font-size: 2rem;
    color: var(--color-primary);
}

.landing.register .left main form .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.landing.register .left main form .section:last-child .buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.landing.register .left main form .section:last-child .buttons-container>div {
    background-color: var(--color-danger);
    border: 0.2rem dashed var(--color-danger);
}

.landing.register .left main form .section:last-child .buttons-container>div:hover {
    background-color: transparent;
    color: var(--color-danger);
}

.landing .left main form .row.login-as {
    position: relative;
}

.landing .left main form .row.login-as>div>span {

    margin: 0;
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    right: 0;
    top: 40%;
    color: var(--color-info-dark);
    transition: all 300ms ease;
}

.landing.register .left main form .drop-down-content,
.landing .left main form .drop-down-content {
    position: absolute;
    top: 19.5rem;
    left: 0;
    width: 100%;
}

.landing.register .left main form .drop-down-content {
    top: 64px !important;

}


/* ====================================================
====================== SIDEBAR ======================== 
======================================================= */

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: fixed;
    top: 6.5rem;
    width: 15rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: fixed;
    bottom: 1rem;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}


/* ====================================================
====================== MAIN ==========================
======================================================= */

main {
    margin: 1.4rem;
}

/* main .add-med-from .row{
    display: grid;
    grid-template-columns: 20rem 10rem 20rem 5rem;
    gap: 7rem;
} */
/* 
main .add-med-from .row input
main .add-med-from .row textarea{
    width: 100%;
} */




main .insights,
main .insights.dashboard,
main .insights.insurances {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights {
    grid-template-columns: repeat(3, 1fr);
}

main .insights.insurances {
    grid-template-columns: repeat(3, 1fr);
}

main .card {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .card#form-search-doc {
    margin-top: 3rem;
}

main .insights>.card {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights>.card:hover {
    box-shadow: none;
}

main .insights>.card span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights>.card:nth-child(2) span {
    background: var(--color-danger);
}

main .insights>.card:nth-child(3) span {
    background: var(--color-success);
}

main .insights>.card .middle {
    display: flex;
    flex-direction: column;
}

main .insights>.card .middle a {
    display: flex;
    align-items: center;
}

main .insights>.card .middle a *:last-child {
    padding-left: 1.5rem;
}


main .insights.dashboard>div:last-child span {
    background: var(--color-primary);
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights h4 {
    margin: 1rem 0 0.6rem;
}


main .insights small {
    display: block;
    margin-top: 1.3rem;
}


/* ====================================================
===================== RESULTS CONTAINER ===============
======================================================= */

main .doctor-card.card {
    display: grid;
    grid-template-columns: 12rem auto 20rem;
    gap: 4rem;
}

main .doctor-card.card .photo-container {
    width: 100%;
    height: 100%;
    display: flex;
    /* padding-bottom: 1rem; */
    align-items: center;
    justify-content: center;
}

main .doctor-card.card .profile-photo {
    width: 10rem;
    height: 10rem;
}

main .doctor-card.card .doc-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

main .doctor-card.card .doc-description .doctor-name {
    display: flex;
    align-items: center;
}

main .doctor-card.card .doc-description .doctor-name span {
    margin-left: 1rem;
}

main .doctor-card.card .doc-description .speciality {
    margin-top: 1rem;
}

main .doctor-card.card .doc-description .rating {
    display: flex;
    align-items: center;
}

main .doctor-card.card .doc-description .rating h3 {
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
}

main .doctor-card.card .doc-description .rating-container {
    color: #f4c150;
}

main .doctor-card.card .doc-payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .doctor-card.card .doc-payment .details .text-muted>div {
    display: flex;
    align-items: center;
}

main .doctor-card.card .doc-payment .details .text-muted>div h3 {
    padding-left: 0.5rem;
    font-weight: 500;
}

main .doctor-card.card .doc-payment .buttons a div {
    align-items: center;
    padding: calc(0.5 * var(--card-padding));
    border: 2px dashed var(--color-primary);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
    transition: all 300ms ease;
}

main .doctor-card.card .doc-payment .buttons a div:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

main .doctor-card.card .doc-payment .buttons a:last-child div {
    background-color: var(--color-primary);
    color: var(--color-white);
}


.but1 {
    background: transparent !important;
    color: var(--color-primary) !important;
}

/* ====================================================
======================BOTTOM=========================
======================================================= */

main .bottom {
    margin-top: 2.5rem;
    transform: none;

}

main .bottom h2 {
    margin-bottom: 0.8rem;
}


main .bottom table {
    background: var(--color-white);
    width: 100%;
    transition: all 300ms ease;
    text-align: center;
    min-height: 30em;
}

main .bottom.consultations table {
    min-height: unset;
}

main .bottom table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody td a {
    margin: 0;
    transition: all 300ms ease;
}

main table tbody td a.see-detils-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}

main table tbody td a.patient-name:hover {
    color: var(--color-primary);
}

main table tbody tr:last-child td {
    border: none;
}

main table tbody tr.active {
    background-color: #7380ecb5;
}

main table tbody tr.active td,
main table tbody tr.active td:last-child span {
    color: white;
}

main form.add-form .form-row {
    display: grid;
    gap: 5rem;
    user-select: none;
    margin-bottom: 3rem;
}

main form#form-med .form-row {
    grid-template-columns: 12rem 10rem auto 5rem;
}

main form#search-doc .form-row {
    grid-template-columns: 12rem auto;
}




main form.add-form .form-row div.row-elemnt {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-light);
}

main form.add-form .form-row>div *:last-child {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

main .card form#search-doc span {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    color: var(--color-primary);
    cursor: default;
}

main form.add-form button {
    width: 100%;
    margin-top: 2rem;
}

main form#search-doc.add-form .form-row>div small {
    cursor: default;
    padding-left: 0;
}

main form.add-form .form-row:last-child {
    margin-bottom: 0;
}

main form.add-form .add-more-btn,
.submit-btn-holder .submit-btn,
main form.add-form button .submit-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: calc(0.5 * var(--card-padding));
    margin-top: 2rem;
    border: 2px dashed var(--color-primary);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    color: var(--color-primary);
    cursor: pointer;
}

.submit-btn-holder .submit-btn,
main form.add-form button .submit-btn {
    border: 2px solid var(--color-primary);
    margin: 0 auto;
}

main form.add-form .add-more-btn:hover,
main form.add-form .submit-btn:hover {
    padding: calc(0.5 * var(--card-padding)) calc(2 * var(--card-padding));
}

main form.add-form .form-row div:last-child {
    justify-content: center;
    color: red;
    cursor: pointer;
    border: none;
}

main form#search-doc .submit-btn {
    float: left;
}

main table#insurances thead th:first-child>span,
main table#insurances tbody td:first-child>span {
    cursor: pointer;
}


/* ====================================================
====================== RIGTH ==========================
======================================================= */

.rigth {
    margin-top: 1.4rem;
    position: fixed;
    right: 2rem;
}

.rigth .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
    right: 2.8rem;
    z-index: 90;
}

.rigth .top button {
    display: none;
}

.rigth .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.rigth .theme-toggler span {
    font: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: cenetr;
    justify-content: center;
}

.rigth .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.rigth .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

.rigth .top .profile .role {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    cursor: pointer;
}

.rigth .top .profile .role span {
    transition: all 300ms ease;
}

.drop-down-content {
    display: none;
    opacity: 0%;
    list-style: none;
    right: 5rem;
    position: absolute;
    min-width: 10rem;
    z-index: 10;
    background-color: var(--color-white);
    overflow: auto;
    box-shadow: var(--box-shadow);
    padding: 0;
    border-radius: var(--card-border-radius);
    transition: all 300ms ease;
}

.drop-down-content li a {
    color: var(--color-dark);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-down-content li a:hover {
    background-color: var(--color-hover);
}

.show-drop-down {
    opacity: 100%;
    display: block;
}


/* ====================================================
====================== SECTION-1 ======================
======================================================= */
.section-1,
.section-1 {
    margin-top: 1rem;
}



.section-1 h2,
.rigth .section-3 h2 {
    margin-bottom: 0.8rem;
}

.section-1 .rows,
.rigth .section-3 .rows {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.section-1 .rows:hover,
.rigth .section-3 .rows:hover {
    box-shadow: none;
}

.rows .row,
.rigth .section-3 .rows .row,
.rigth .section-2 .item {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.rigth .section-3 .rows .row {
    grid-template-columns: 2.6rem auto 2.6rem;
}

.rigth .section-3 .rows .row span {
    text-align: center;
    vertical-align: middle;
    transform: translateY(15%);
    color: var(--color-primary);
    cursor: pointer;
}

/* ====================================================
==================== SECTION-2 ========================
======================================================= */

.rigth .section-2,
.rigth .section-4,
.rigth .section-5 {
    margin-top: 2rem;
}

.rigth .section-2 h2,
.rigth .section-4 h2,
.rigth .section-5 h2 {
    margin-bottom: 0.8rem;
}

.rigth .section-2 .item,
.rigth .section-4 .item,
.rigth .section-5 .item {
    display: grid;
    grid-template-columns: 2.6rem auto 1.5rem 1.5rem;
    background: var(--color-white);
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.rigth .section-4 .item {
    grid-template-columns: 2.6rem auto 2rem;
}

.rigth .section-5 .item {
    grid-template-columns: 2.6rem auto 3rem;
}

.rigth .section-2 .item:hover,
.rigth .section-4 .item:hover,
.rigth .section-5 .item:hover {
    box-shadow: none;
}

.rigth .section-2 .item>div span,
.rigth .section-4 .item>div span,
.rigth .section-5 .item>div span {
    cursor: pointer;
}

.rigth .section-4 .add-new {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.section-4 .add-new>div {
    display: flex;
}


.section-4 .add-new h3 {
    margin: 0;
}


.show-all-btn {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}





/* ====================================================
==================== CALANDAR ====================
======================================================= */
.booking-dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 40% auto;
    gap: 1rem;
}

.booking-dashboard .booking-form {
    /* width: 70%; */
    position: relative;
}

.booking-dashboard .booking-form form {
    margin-top: 4rem;

}

.booking-dashboard .booking-form .form-row {
    display: grid;
    grid-template-columns: 15rem 12rem;
    margin-bottom: 2rem;
    gap: 5rem;
}

.booking-dashboard .booking-form .form-row input {
    color: var(--color-primary);
}

.booking-dashboard .booking-form .form-row input[type="date"]::-webkit-inner-spin-button,
.booking-dashboard .booking-form .form-row input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.booking-dashboard .booking-form .submit-btn-holder .submit-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.calendar {
    height: max-content;
    width: 100%;
    position: relative;
    overflow: hidden;
    color: var(--color-dark);
}


.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-body {
    padding: 1rem;
    border-bottom: 0.1rem solid #36394915;
}

.calendar-week-day {
    height: 2rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: var(--color-dark);
}

.selected-day {
    background-color: var(--color-info-light);
    color: var(--color-dark);
    border: 2px solid var(--color-dark);
}

.calendar-days div {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}


.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 50%;
}

.calendar-day-hover:hover {
    border: 2px solid var(--color-dark)
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-1);
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-time {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    justify-items: stretch;
    align-items: center;
    gap: 0.25rem;
}

.calendar-time .interval {
    display: flex;
    gap: 0.65rem;
    align-items: center;
    color: #7380ec75;
    cursor: pointer;
    transition: all 300ms ease;
}



.calendar-time .interval .check {
    display: flex;
    background-color: #7380ec75;
    border-radius: 50%;
    color: var(--color-white);
    place-items: center;
    padding: 0.25rem;
}

.calendar .interval h4.text-muted {
    color: #7380ec75;
}

.calendar-time .interval.active h4,
.calendar-time .interval.active h3 {
    color: var(--color-primary) !important;
}

.calendar-time .interval.active .check {
    background-color: var(--color-primary) !important;
}



.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list>div {
    display: grid;
    place-items: center;
}

.month-list>div>div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-dark);
}

.month-list>div>div:hover {
    background-color: var(--color-hover);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ====================================================
==================== INSURANCES ====================
======================================================= */

h3.create-insurance-instructions {
    font-size: 1rem;
    text-align: justify;
    line-height: 2rem;
    font-weight: 400;
}


/* ====================================================
==================== POP UP ====================
======================================================= */

.popup-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    z-index: 100;
}

.popup-holder .card {
    width: 50%;
    /* Salah */
    background-color: #f3f3f3;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    animation: animate 300ms ease;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

@keyframes animate {
    0% {
        transform: scale(0%);
    }

    100% {
        transform: scale(100%);
    }
}

.popup-holder .card .close-btn {
    display: flex;
}

.popup-holder .card .close-btn span {
    margin-left: auto;
    transition: all 300ms ease;
}

.popup-holder .card .close-btn span:hover {
    transform: rotate(90deg);
    cursor: pointer;
}

.popup-holder .card form .form-row {
    margin: 2rem 0
}

.popup-holder .card form .form-row input {
    width: 100%;
}

.popup-holder .card .visit_confirmation {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
}

.popup-holder .card .visit_confirmation .cancel>div,
.popup-holder .card .visit_confirmation .accept>div {
    display: flex;
    cursor: pointer;
    align-items: center;
}

/* SALAH POPUP */
#popup {}

#popup .big-profile-photo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
}

#popup .left {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#popup .row:nth-of-type(1) {
    grid-column: 1;
}

#popup .row:nth-of-type(2) {
    grid-column: 2;
}

#popup .row {
    display: grid;
    align-items: center;

}

#popup .bottom {
    display: grid;
}

#popup .info-elem {
    padding: 5px;
}

#popup .buttons h3:nth-of-type(1) a {
    background-color: #4f58a3;
    border-radius: 5px;
    padding: 0.6em 2em;
    font-size: 1rem;
    color: white;
    display: block;
    margin-bottom: 5px;
}

#popup .buttons h3:nth-of-type(2) a {

    border-radius: 5px;
    padding: 0.6em 2em;
    font-size: 1rem;
    color: #464343;
    border: 1px dashed #464343;
    display: block;
}

#popup .buttons {
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* ============3=======================================
======================== CHAT ========================
======================================================= */

.messages-container {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 2rem;
}

.messages-container .card {
    padding: 0;
}

.recent-messages .header {
    border-bottom: 1px solid var(--color-light);
    padding: var(--card-padding);
    height: 6rem;
}

.recent-messages .header-content {
    display: flex;
    justify-content: space-between;
}

.recent-messages .header-content .new-conv {
    display: flex;
    align-items: center;
}

.recent-messages-body {
    padding-bottom: var(--card-padding);
}

.recent-messages-body .search-chat {
    height: 2rem;
    padding: 2em;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    border: 1px solid var(--color-light);
    margin-top: var(--card-padding);
}

.recent-messages-body .search-chat form {
    overflow-y: hidden;
}

.recent-messages-body .search-chat .search-bar {
    position: relative;
}

.recent-messages-body .search-chat .search-bar>span {
    position: absolute;
    top: 0;
    right: 0;
}

.recent-messages-body .all-chats {
    margin-top: var(--card-padding);
    padding-top: 0;
    max-height: 65vh;
    overflow-y: auto;
}

.recent-messages-body .all-chats .chat-row {
    display: grid;
    grid-template-columns: 20% auto 20%;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid var(--color-light);
    padding: calc(0.5 * var(--card-padding));
    transition: all 300ms ease;
}

.recent-messages-body .all-chats .chat-row:hover {
    background-color: rgba(0, 0, 125, 0.1);
}

.recent-messages-body .all-chats .chat-row:last-child {
    margin-bottom: 0rem;
}

.recent-messages-body .all-chats .chat-row .chat-time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.recent-messages-body .all-chats .chat-row .chat-time .messages-count {
    background-color: var(--color-success);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color: white;
}

.conversation {
    display: flex;
    flex-direction: column;
}

.conversation .chat-header {
    display: grid;
    grid-template-columns: 10% auto 25%;
    align-items: center;
    padding-inline: var(--card-padding);
    height: 6rem;
    border-bottom: 1px solid var(--color-light);
}

.conversation .chat-header .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conversation .chat-header .profile>span {
    display: none;
}

.conversation .chat-header .profile-photo {
    height: 4rem;
    width: 4rem;
}

.conversation .chat-header .chat-params {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.conversation .chat-header .chat-params>span {
    padding-left: 2rem;
    cursor: pointer;
}

.conversation .conversation-body {
    padding: var(--card-padding);
    max-height: 45rem;
    overflow-y: auto;
}

.conversation .chat-box {
    max-width: 30rem;
    width: fit-content;
    margin-top: 1rem;
    padding: 0.7rem;
    border-radius: 0.9rem;
    border-top-left-radius: 0px;
    background-color: #a2aaf528;
}

.conversation .chat-box:first-child {
    margin-top: 0;
}

.conversation .chat-box.outgoing {
    margin-left: auto;
    text-align: right;
    border-top-right-radius: 0px;
    border-top-left-radius: 0.9rem;
    background-color: #7380ec50;
}

/* 
<div class="chat-box">
<div class="incoming">
    <div class="detail"> */


.conversation .chat-input-container {
    height: 6rem;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-light);
    padding-inline: var(--card-padding);
}





.conversation .chat-input-container .message-input {
    width: 100%;
}

.conversation .chat-input-container .buttons {
    display: flex;
}


.conversation .chat-input-container .buttons div:last-child {
    padding-left: 2rem;
}

.conversation .chat-input-container .buttons div>span {
    cursor: pointer;
}

.conversation .chat-input-container .buttons .attach-file>span {
    transform: rotate(45deg);
}

/* ====================================================
==================== PAGINATION ====================
======================================================= */

.pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.pagination .step-links .all-pages,
.pagination .step-links {
    display: flex;
    align-items: center;
}

.pagination .step-links .arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--color-primary);
    border-radius: 2rem;
    padding-inline: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.pagination .step-links .all-pages>a.page-num {
    border: 1.5px solid var(--color-primary);
    border-radius: 50%;
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-left: 0.2rem;
    transition: all 300ms ease;
}

.pagination .step-links .all-pages>a.page-num:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.pagination .step-links .all-pages>a.page-num.more:hover {
    background-color: unset;
    color: unset;
}

.pagination .step-links .all-pages>a.page-num:last-child {
    margin-right: 0.8rem;
}

.pagination .step-links .all-pages>a.page-num:first-child {
    margin-left: 0.8rem;

}

.pagination .step-links .all-pages>a.page-num.current {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* ====================================================
==================== RECLAMATIONS =====================
======================================================= */

.contact-from-container,
.contact-from-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-from-container form .form-row {
    width: 50vw;
    border-bottom: 1px solid var(--color-light);
    padding-top: 2rem;
}

.contact-from-container form .form-row>h3 {
    font-size: 1.1rem;
}

.contact-from-container form .submit-btn-holder {
    margin-top: 5rem;
}



/* ====================================================
==================== MEDIA QUERIES ====================
======================================================= */


/* ========== SAMLL LAPTOPS AND TABLETS ========== */
@media screen and (max-width:1465px) {
    main .doctor-card.card {
        grid-template-columns: 10rem auto 13rem;
    }

    .booking-dashboard .booking-form .form-row {
        gap: 1rem;
        grid-template-columns: 10rem 10rem;
    }

    .booking-dashboard {
        grid-template-columns: 50% 50%;
    }

    .messages-container {
        grid-template-columns: 40% auto;
    }

    .conversation .chat-header .contact-details {
        margin-left: 2rem;
    }

    .messages-container {
        position: absolute;
        width: 80%;
    }
}

@media screen and (max-width:1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 20rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights,
    main .insights.dashboard {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.8rem;
    }

    main .insights.dashboard,
    main .insights.insurances {
        grid-template-columns: repeat(2, 1fr);
    }


    main .bottom {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 20%);
        padding-bottom: 3rem;
        z-index: 10;
    }

    .drop-down-content {
        right: 1rem;
    }


    .landing.register,
    .landing {
        grid-template-columns: 40% auto;
    }

    .landing.register .left aside {
        margin-bottom: 55rem;
    }

    .landing.register .left main form .section .buttons-container {
        flex-direction: column;
        align-items: center;
    }

    .landing.register .left main form .section .buttons-container>button,
    .landing.register .left main form .section .buttons-container>div {
        width: 100% !important;
        padding-inline: 0;
        display: flex;
        justify-content: center;
    }

    .landing .right .welcome {
        bottom: 25rem;
    }

    .landing .left main .bottom {
        all: unset;
    }



    main.book-appointment {
        position: absolute;
        left: 10rem;
        width: 78vw;
    }

}


/* ========== MOBILE PHONES ========== */

@media screen and (max-width:768px) {
    body.briclole {
        height: unset;
    }

    .landing {
        all: unset;
    }

    .landing .left aside {
        all: unset;
    }

    .landing .left main {
        position: relative;
        top: unset;
        left: unset;
        margin-top: 2rem;
        transform: unset;
        height: 100%;
        padding-inline: 2rem;
    }

    .landing.register .left {
        margin-bottom: 2rem;
    }


    .landing .right {
        display: none;
    }

    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .top {
        position: unset;
    }

    aside .sidebar {
        position: relative;
        top: 3rem;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        /* padding: 0 1rem; */
    }

    main .bottom {
        position: relative;
        margin-top: 3rem;
        width: 100%;
        transform: translateX(-50%);
        z-index: unset;
    }

    main .bottom table {
        width: 100%;
        margin: 0;
    }

    main .bottom table#insurances tbody tr>td:nth-child(3),
    main .bottom table#insurances thead tr>th:nth-child(3) {
        display: none;
    }

    main .bottom table thead tr>th:last-child,
    main .bottom table tbody tr>td:last-child {
        display: none;
    }

    main .bottom table.prescriptions thead tr>th:last-child,
    main .bottom table.prescriptions tbody tr>td:last-child {
        display: block;
    }

    main .bottom table#insurances tbody tr>td:last-child,
    main .bottom table#insurances thead tr>th:last-child {
        display: block;
    }

    .rigth {
        width: 94%;
        margin: 0 auto 4rem;
        position: unset;
    }

    .rigth .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .rigth .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 4rem;
    }

    .rigth .top .profile {
        align-items: center;
    }

    .rigth .top .profile .info p {
        display: none;
    }

    .rigth .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem
    }

    .rigth .top button span {
        font-size: 2rem;
    }

    .drop-down-content {
        top: 4rem
    }

    main .doctor-card.card {
        display: flex;
        flex-direction: column;
    }

    main .results-container {
        position: relative;
    }

    main .doctor-card.card .doc-payment {
        margin-top: -2rem;
    }

    .booking-dashboard {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    main .booking-dashboard .calendar.card {
        width: 100%;
    }

    .booking-dashboard .booking-form .submit-btn-holder {
        position: relative;
        margin-top: 3rem;
    }

    main form#create_insurance {
        display: flex;
        justify-content: center;
    }

    main form#create_insurance button {
        float: unset;
    }

    .messages-container {
        display: block;
        position: relative;
        width: unset;
    }

    .conversation .chat-header {
        grid-template-columns: 25% auto 25%;
    }

    main.messages {
        margin-top: 5rem;
    }

    main.messages h1 {
        display: none;
    }

    .conversation .chat-input-containe,
    .conversation .chat-header {
        height: 5rem;
    }

    .recent-messages-body .all-chats {
        max-height: 52vh;
    }

    .conversation .conversation-body {
        max-height: 30rem;
    }

    .conversation .chat-header .chat-params>span {
        padding-left: 1rem;
    }

    .conversation .chat-header .profile>span {
        display: unset;
    }


    main.book-appointment {
        position: unset;
        left: unset;
        width: unset;
    }

    main form#search-doc .form-row {
        display: flex;
        flex-direction: column;
    }

    .pagination .step-links .all-pages>a.page-num:last-child {
        margin-right: unset;
    }

    .pagination .step-links .all-pages>a.page-num:first-child {
        margin-left: unset;
    }

    .pagination .step-links .all-pages>a.page-num {
        width: 1.5rem;
        height: 1.5rem;
    }
}

/* SALAH ADDED DASHBOARD CSS */
.form-requests {
    overflow-x: visible;
    display: flex;
}

.form-requests span {
    cursor: pointer;
}
